{% extends "base.html" %}
{% block html-title %}
    Main page
{% endblock html-title %}
{% block content %}
    {% include "navbar.html" %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Decision-Making with MCDA</h1>
        <h2 class="mb-3">Explore the Power of Decision-Making with MCDA</h2>
        <p>
            Welcome to the world of Multi-Criteria Decision Analysis (MCDA), a suite of powerful tools designed to simplify complex decision-making processes. MCDA methods enable users to evaluate multiple conflicting criteria in decision-making, offering a structured approach for assessing and ranking options.
        </p>
        <p>
            Our application incorporates these innovative methods to help you navigate through intricate decisions with ease. Whether you're dealing with business strategy, resource allocation, or policy formulation, MCDA provides a clear, objective pathway to informed choices.
        </p>
    </div>
{% endblock content %}
